body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: monospace;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ccc;
  z-index: 10;
}

#map {
  display: none;
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.9);
  z-index: 20;
}
